<!-- GET /albums -->

<html>
  <head></head>
  <body>
    <h1>Albums</h1>
    {% for album in albums %}
        <div class='album_{{album.id}}'>
          <p align="left">
            &nbsp; &nbsp; &nbsp;<a href="/albums/{{album.id}}"> Title: {{album.title}} <br/></a>
            &nbsp; &nbsp; &nbsp; Released: {{album.release_year}}
          </p>
        </div>
    {% endfor %}
        <div>
          <br/>
          <br/>
          <a href="/albums/new">Create a new album.</a>
        </div>
  </body>
</html>